body {
    background-color: #18eb18;
}

header {
    border: 1px solid #FFAD60;
    padding: 30px;
    text-align: center;
}

header h1 {
   color: #800000
}

header p {
    font-style:italic;
}
header img{
    width: 60%;
    border: 2px solid green;
    border-radius: 50%
}
  
header img:hover{
    transform: : scale(.8);
    transition: all .3s ease-in-out;
    box-shadow: 2px 2px 12px #FFEB00;
}
header button {
    display: block;
    margin: 30px auto;
    padding: 10px 30px;
    background-color: #800000;
    color: blanchedalmond;
    border-radius: 15px;
    border: 1px solid blue;
}
header button:hover{
    background-color: blue;
    color: purple;
}
.about{
    text-align: center;
    margin: 40px auto;
}
.about h2{
    color: #800000;
}
.project{
    width: 90%;
    margin: 20px auto;
    border: 1px solid  blue;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.project img{
    width: 40%;
}
.project img : hover{
    transform: scale(.8);
    transition: all.3s ease-in-out;
    box-shadow:2px 2px 12px #493D9E;
}
footer{
    margin-top: 40px;
    text-align: center;
    padding: 30px;
    background-color: color: #494949;
    color:bisque
}